*{
    box-sizing: border-box;
}

.example-1{
    width: 100px;
    height: 100px;
    


    animation-name: background-change, change-size, change-deg;/*имя*/
    animation-duration: 2s, 5s;/*скок длится аним*/
    animation-delay: 4s;/*скок стоит*/
    animation-fill-mode: both;/* исчезнет none, both стили остаются*/
    animation-iteration-count: infinite;/* бесконечно*/
    animation-direction: alternate; /* alternate плавный переход*/
    animation-timing-function: linear;/*скорость анимации*/
}


.example-1:hover{
    animation-play-state: paused;
    
}


@keyframes background-change{

  0%{
    background-color: tomato;
    border: 0;
    border-radius: 50px;
  }

  25%{
    background-color: blue;
    border: 10px dashed rgb(50, 50, 63);
    box-shadow: 1px 1px 20px gray;
  }

  50%{
    background-color: green;
    border: 50px solid yellow;
   
  }

  75%{
    background-color: blueviolet;
    border: 1px dotted palevioletred;
    

  }


  100%{
    background-color: aqua;
    border: 50px solid tomato;

    box-shadow: 1px 1px 50px gray;
    
   
  }  
}


@keyframes change-size{
 from{
    transform: scale(1);
 }
 to{
    transform: scale(2);
 }
}
 


@keyframes change-deg{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }


}
