* {
    box-sizing: border-box;
}

.example-1 {
    width: 100px;
    height: 100px;



    animation-name: background-change, change-size, change-deg;
    /*имя*/
    animation-duration: 2s, 5s;
    /*скок длится аним*/
    animation-delay: 4s;
    /*скок стоит*/
    animation-fill-mode: both;
    /* исчезнет none, both стили остаются*/
    animation-iteration-count: infinite;
    /* бесконечно*/
    animation-direction: alternate;
    /* alternate плавный переход*/
    animation-timing-function: linear;
    /*скорость анимации*/
}


.example-1:hover {
    animation-play-state: paused;

}


@keyframes background-change {

    0% {
        background-color: tomato;
        border: 0;
        border-radius: 50px;
    }

    25% {
        background-color: blue;
        border: 10px dashed rgb(50, 50, 63);
        box-shadow: 1px 1px 20px gray;
    }

    50% {
        background-color: green;
        border: 50px solid yellow;

    }

    75% {
        background-color: blueviolet;
        border: 1px dotted palevioletred;


    }


    100% {
        background-color: aqua;
        border: 50px solid tomato;

        box-shadow: 1px 1px 50px gray;


    }
}


@keyframes change-size {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(2) rotate(360deg);
    }
}



/*@keyframes change-deg{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }


}
*/



.example-2 span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: gold;
    box-shadow: 0 0 5px 5px rgb(92, 91, 91);
    margin-right: 10px;
    border-radius: 50%;

    animation-name: scale;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.example-2 span:nth-child(2) {
    animation-delay: 200ms;
}

.example-2 span:nth-child(3) {
    animation-delay: 200ms;
}

.example-2 {
    margin-top: 70px;
    margin-left: 50px;
}



@keyframes scale {
    from {
        transform: scale(1);
        box-shadow: 0 0 5px 5px rgb(71, 70, 70);
    }

    to {
        transform: scale(1.5);
        box-shadow: 0 0 5px 5px gainsboro;
    }
}




.example-3 {
    width: 400px;
    height: 400px;
    background-color: beige;
    border-radius: 50%;
    position: relative;
}

.example-3 .second-hand {
    background-color: red;
    height: 4px;
    width: 200px;
    position: absolute;
    top: 205px;
    left: 0;
    transform-origin: 100%;

    animation-name: rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.example-3 .minute-hand {
    background-color: blue;
    height: 6px;
    width: 200px;
    position: absolute;
    top: 197px;
    left: 0;
    transform-origin: 100%;

    animation-name: rotate;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}






@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.example-4 {
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    padding-right: 100px;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 100%;



    animation-name: swirl;
    animation-duration: 60s;
    animation-delay: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes swirl {
    0% {
        transform: rotate(0deg);
        background-color: blueviolet;
        border: 5px dashed powderblue;
        box-shadow: 0 0 25px gray;
    }

    50% {
        transform: rotate(180deg);
        background-color: rgb(77, 26, 128);
        border: 5px dashed powderblue;
        box-shadow: 0 0 25px rgb(70, 69, 69);
    }

    100% {
        transform: rotate(360deg);
        border: 5px dashed powderblue;
        background-color: rgb(54, 16, 90);
        box-shadow: 0 0 25px rgb(52, 51, 51);
    }
}


.example-5 {
    background-color: rgb(218, 48, 5);
    width: 170px;
    height: 25px;
    border: 2px solid black;
    margin-top: 35px;
    margin-left: 55px;
    display: block;
    border-radius: 50px;
    position: absolute;
    animation-name: loading;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes loading {
    0% {
        border-left: 1px solid black;
    }

    10% {
        border-left: 20px solid black;
    }

    20% {
        border-left: 30px solid black;
    }

    30% {
        border-left: 40px solid black;
    }

    40% {
        border-left: 50px solid black;
    }

    50% {
        border-left: 60px solid black;
    }

    60% {
        border-left: 72px solid black;
    }

    70% {
        border-left: 88px solid black;
    }

    80% {
        border-left: 100px solid black;
    }

    90% {
        border-left: 130px solid black;
    }

    100% {
        border-left: 170px solid rgb(5, 5, 5);
        background-color: red;
    }
}





.example-6 {
    background-color: aqua;
    width: 55px;
    height: 100px;
    display: inline-block;
    position: relative;


    background-color: rgb(120, 5, 5);
    transform-origin: center 55px;
    animation-name: clear;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;

    opacity: 0.5;
    border: 1px solid pink;
}

@keyframes clear {
    0% {
        background: rgb(162, 11, 162);
        width: 2px;
        left: calc(50% - 1px);
    }

    50% {
        background: rgba(255, 255, 0, 1);
        width: 50px;
        left: calc(50% - 25px);
    }

    100% {
        background: rgba(0, 255, 255, 1);
        width: 2px;
        left: calc(50% - 1px);
    }
}



.example-7 span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(45, 150, 113);
    box-shadow: 0 0 5px 5px rgb(92, 91, 91);
    margin-right: 25px;


    animation-name: beat;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.example-7 span:nth-child(2) {
    animation-delay: 200ms;

}

.example-7 span:nth-child(3) {
    animation-delay: 300ms;

}

.example-7 span:nth-child(4) {
    animation-delay: 400ms;
}

.example-7 {
    margin-top: 70px;
    margin-left: 50px;
}


@keyframes beat {
    from {
        transform: scale(1);
        box-shadow: 0 0 5px 5px rgb(71, 70, 70);

    }

    to {
        transform: scale(1.2);
        box-shadow: 0 0 5px 5px gainsboro;
        background-color: rgb(28, 87, 66);
    }
}



.example-8 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 25px;
    margin-left: 500px;
    margin-bottom: 50px;
    background: linear-gradient(#e66465, #9198e5);
    box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;

    animation-name: egg;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes egg{
    from{
      transform: scale(1.2);
    }
     
   
    to{
      transform: scale(1.6);
    }

}


table{
    border: 5px solid rgb(181, 167, 44);
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 5px;
    background-color: azure;
}

.example-9 span {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: rgb(181, 167, 44);
    box-shadow: 0 0 5px 5px rgb(92, 91, 91);
    margin-right: 10px;
    

    animation-name: table;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@keyframes table{
    from {
        transform: scale(1);
        box-shadow: 0 0 5px 5px rgb(71, 70, 70);
    }

    to {
        transform: scale(1.5);
        box-shadow: 0 0 5px 5px gainsboro;
    }
}

.example-9 span:last-child(2) {
    animation-delay: 200ms;

}

.example-9 span:nth-child(3) {
    animation-delay: 300ms;

}

.example-9 span:nth-child(4) {
    animation-delay: 400ms;
}


.example-10{
    width: 25px;
    height: 125px;
    border: 3px solid rgb(122, 76, 76);
    border-radius:25px ;
    margin-top: 25px;
    display: inline-block;
    margin-left: 120px;
    background-color: #e66465;


    animation-name: tem;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


@keyframes tem{
    0%{
      border-bottom: 1px solid rgb(122, 76, 76);
    }
    25%{
        border-bottom: 25px solid rgb(122, 76, 76);     
    }
    50%{
        border-bottom: 65px solid rgb(122, 76, 76);
    }
    75%{
        border-bottom: 90px solid rgb(122, 76, 76);
    }
    100%{
        border-bottom: 123px solid rgb(122, 76, 76);
    }
}


